
 
.wrapper {
    width: 450px;
    background-color: white;
}

.wrapper .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

.header .icons {
    display: flex
}

.wrapper .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.wrapper .icons span {
    width: 38px;
    height: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    color: #878787;
    font-size: 1.9rem;
}

.wrapper .icons .today {
    margin-right: 30px;
    border-radius: 0;
}

.wrapper .icons .nav:hover {
    background-color: #F2F2F2;
}

.wrapper .icons .nav:last-child {
    margin-right: -10px;
}

.calendar {
    padding: 20px;
}

.calendar .list-weeks .list-item-weeks {
    font-weight: 500;
}

.calendar .list-days .list-item-days {
    height: 45px;
    width: 45px;
    padding: 10px;
    cursor: pointer;
}

.calendar .list-days .inactive {
    color: #AAA;
}

.calendar .list-days .active {
    color: #fff;
    background: #9b59b6;
}

.calendar 
.list-weeks,
.list-days{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

.calendar 
.list-item-days,
.list-item-weeks {
    width: calc(100% / 7);   
    position: relative;
}

/* HOVER NAS DATAS*/
.calendar 
.list-item-days:hover {
    background-color: #F2F2F2;
    color: #181616;
} 