@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif
}

#style {
    margin: 10px;
    display: flex;
    gap: 15px;
}

.btn-bootstrap {
    background-color: #007bff; /* Cor azul padrão do Bootstrap */
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0.25rem; /* Bordas arredondadas padrão */
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-bootstrap:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
    border-color: #004085; /* Ajuste na cor da borda no hover */
}

.btn-material {
    background-color: #6200ea; /* Cor roxa padrão do Material */
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px; /* Bordas suaves */
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-material:hover {
    background-color: #3700b3; /* Cor mais escura no hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}


.btn-default {
    background-color: #F2F2F2;
    color: #181616;
    padding: 12px 30px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px; /* Espaçamento das letras */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-default:hover {
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}

.btn-tce {
    background-color: #3B82F6; /* Cor azul padrão do Bootstrap */
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0.25rem; /* Bordas arredondadas padrão */
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* fim */ 


.wrapper {
    margin: 0 auto;
}

/* ESITLO RESPONSAVEL POR APLICAR O RANGER DE DATAS */
.wrapper .calendar 
.list-item-days {
    /* border-radius: 36px; */
    width: 36px;
    display: block;
    margin: 0 auto 10px;
    padding: 0;
    height: 36px;
    line-height: 36px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    outline: 0;
}

.wrapper .calendar .list-item-days.startSelection .day,
.wrapper .calendar .list-item-days.endSelection .day {
    background-color: #3f79e0;
    border-radius: 50%;
    color: #fff;
}


.wrapper .calendar .list-item-days .day {
    border-radius: 36px;
    width: 36px;
    display: block;
    margin: 0 auto 10px;
    padding: 0;
    height: 36px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    outline: 0;

}

.wrapper .calendar .startSelection::before, 
.wrapper .calendar .startSelection::after,

.wrapper .calendar .endSelection::before, 
.wrapper .calendar .endSelection::after{
    height: 36px;
    width: 50%;
    content: '';
    position: absolute;
    top: 0;
    display: block;
}

.wrapper .calendar .startSelection::before {
    right: 0;
    background-color: #3f79e0;
}

.wrapper .calendar .startSelection::after{
    right: 0;
    background-color: white;
    opacity: 0.25;
}

/** end **/

.wrapper .calendar .endSelection::before {
    left: 0;
    background-color: #3f79e0;
}

.wrapper .calendar .endSelection::after{
    left: 0;
    background-color: white;
    opacity: 0.25;
}

.wrapper .calendar .inRange .day {
    background-color: #3f79e0;
    opacity: 0.75;
    width: 100%;
    border-radius: 0;
    position: relative;
    color: #FFF;
}