@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
font-family: "Inter", sans-serif;
}

body {
    background-color: #f8f9fa; /* Fundo claro padrão do Bootstrap */
}

.wrapper.tce-style {
    width: 450px;
    background-color: transparent; /* Fundo branco */
    border: 1px solid #dee2e6; /* Borda leve */
    border-radius: 0.25rem; /* Borda arredondada, padrão do Bootstrap */
}

.wrapper.tce-style .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 15px;
    border-bottom: 1px solid #CBD5E1;
    color: white;
    background-color: white;
    border-radius: 0.25rem 0.25rem 0 0; /* Borda arredondada só no topo */
}

.wrapper.tce-style .header .icons {
    display: flex;
}

.wrapper.tce-style .current-date {
    font-size: 1.25rem;
    font-weight: 500;
    color: #4B4B4B;
}

.wrapper.tce-style .icons span {
    width: 36px;
    height: 48px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 1.5rem;
    background-color: #3B82F6; /* Cor secundária do Bootstrap */
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper.tce-style #prev {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.wrapper.tce-style #next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.wrapper.tce-style .icons span:hover {
    background-color: #5a6268; /* Cor mais escura ao passar o mouse */
}

.wrapper.tce-style .icons .today {
    border-radius: 0.25rem; /* Borda arredondada, padrão do Bootstrap */
    margin-right: 20px;
    background-color: #0EA5E9;
    padding: 14px 12px;
    color: #000;
    cursor: pointer;
}

.wrapper.tce-style .icons .today span {
    display: none;
}

.wrapper.tce-style .calendar {
    padding: 20px;
    background-color: white;
    border-radius: 0.25rem; /* Borda arredondada */
}

.wrapper.tce-style .calendar .list-weeks .list-item-weeks {
    font-weight: 500;
    color: #6c757d; /* Cor secundária do Bootstrap para texto */
}

.wrapper.tce-style .calendar .list-days .list-item-days {
    height: 45px;
    width: 45px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%; /* Borda arredondada para os dias */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.wrapper.tce-style .calendar .list-days .inactive {
    color: #ced4da; /* Cor cinza para dias inativos */
}

.wrapper.tce-style .calendar .list-days .active {
    color: white;
    background-color: #007bff; /* Cor primária do Bootstrap */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}


.wrapper.tce-style .calendar 
.list-weeks {
    margin-bottom: 20px;
}

.wrapper.tce-style .calendar 
.list-weeks,
.list-days {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    gap: 10px;
    justify-content: space-evenly;
    /* margin-bottom: 20px; */
}

.wrapper.tce-style .calendar 
.list-item-days,
.list-item-weeks {
    width: calc(100% / 7);   
    position: relative;
}

.wrapper.tce-style .calendar .list-item-days:hover {
    background-color: #f8f9fa; /* Cor de hover seguindo o padrão Bootstrap */
    border-color: #6c757d; /* Borda mais clara no hover */
    color: #181616;

}
